In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('/Users/nikolas/Desktop/Python/Tasks/Nm_Pd_Plt/adult.data.csv')

In [52]:
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [81]:
df['age'].sum() / df['age'].count()

38.58164675532078

In [80]:
df['age'].count()

32561

In [ ]:
# по индексам Male из Sex, взять возраст из Age, и высчетать среднее

In [90]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [83]:
m_or_f = df['sex'].value_counts()

In [87]:
m_or_f[0]

21790

In [88]:
m_or_f[0].sum()

21790

In [ ]:
average_age_men = m_or_f[0].sum() /

In [68]:
all_edu_value = df['education'].value_counts()

In [73]:
all_edu_value

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [70]:
df['education'].count()

32561

In [71]:
Bachelors_percent = (all_edu_value[2] * 100) / df['education'].count()

In [77]:
float('%.1f' % Bachelors_percent)

16.4

In [58]:
df['education'].count()

32561

In [53]:
df['hours-per-week'].min()

1

In [34]:
w = df['race'].unique()

In [35]:
w

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [37]:
w_list = list(w)

In [38]:
w_list

['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

In [47]:
pd.Series('age').count()

1

In [51]:
df['age'].count()

32561

In [49]:
for i in w_list:
    print(pd.Series['i'].count())

TypeError: 'type' object is not subscriptable