In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/nikolas/Desktop/Python/Tasks/Nm_Pd_Plt/adult.data.csv')

In [3]:
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [4]:
len(df)

32561

In [5]:
# What is the average age of men?

In [6]:
filter_Male = df['sex'] == 'Male'  # фильтр по Male
df_Male = df.loc[filter_Male]  # df с фильтром
df_Male['age'].count()  # общее кол-во rows по Male
df_Male['age'].sum()  #  сумма всех age по Male
average_age_men = df_Male['age'].sum() / df_Male['age'].count()
float('%.1f' % average_age_men)

39.4

In [7]:
#What is the percentage of people who have a Bachelor's degree?

In [8]:
all_edu_value = df['education'].value_counts()  # общее кол-во по степеням (возьмем кол-во (Bachelors) по индексу [2])
df['education'].count()  # общее число всех степеней
Bachelors_percent = (all_edu_value[2] * 100) / df['education'].count() # процент Bachelors в общем количестве
float('%.1f' % Bachelors_percent)

16.4

In [9]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
df['hours-per-week'].min()

1

In [10]:
# How many of each race are represented in this dataset? 
# This should be a Pandas series with race names as the index labels.

In [11]:
df['race'].value_counts()
all_race = list(df['race'].value_counts())
all_race

[27816, 3124, 1039, 311, 271]

In [12]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

In [13]:
high_edu_Bachelors = df['education'] == 'Bachelors' # фильтр по 'Bachelors'
high_edu_Masters = df['education'] == 'Masters' # фильтр по 'Masters'
high_edu_Doctorate = df['education'] == 'Doctorate' # фильтр по 'Doctorate'
df_Bachelors = df.loc[high_edu_Bachelors]  # df с фильтром по 'Bachelors'
df_Masters = df.loc[high_edu_Masters]  # df с фильтром по 'Masters'
df_Doctorate = df.loc[high_edu_Doctorate]  # df с фильтром по 'Doctorate'
Bachelors_count = df_Bachelors['education'].count()
Masters_count = df_Masters['education'].count()
Doctorate_count = df_Doctorate['education'].count()

count_high_my = Doctorate_count + Masters_count + Bachelors_count  # 7491

In [14]:
Bachelors_num = df.loc[(df['education'] == 'Bachelors')]
Masters_num = df.loc[(df['education'] == 'Masters')]
Doctorate_num = df.loc[(df['education'] == 'Doctorate')]

sum_high_edu = Bachelors_num + Masters_num + Doctorate_num  # 7491

In [27]:
more_50 = df.loc[(df['salary'] == '>50K')]  # всего з/п >50K
more_50.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [16]:
len(more_50)

7841

In [17]:
count_high = df.loc[((df['education'] == 'Bachelors') | (df['education' ] == 'Masters') | (df['education' ] == 'Doctorate'))]
len(count_high)  # кол-во с Bachelors Masters Doctorate

7491

In [18]:
count_high_more_50 = count_high.loc[(count_high['salary'] == '>50K')]  # кол-во Bachelors Masters Doctorate с з/п >50K
len(count_high_more_50)  # кол-во с Bachelors Masters Doctorate и з/п >50K

3486

In [19]:
round((len(count_high_more_50) * 100) / len(count_high), 1)  # % Bachelors Masters Doctorate с з/п >50K

46.5

In [20]:
# count with salary >50K with lower education
count_low = df.loc[(~(df['education'] == 'Bachelors') & ~(df['education' ] == 'Masters') & ~(df['education' ] == 'Doctorate'))]
count_low_more_50 = count_low.loc[(count_low['salary'] == '>50K')]  # 4355

count_low_edu = len(df) - len(count_high)  # общее кол-во с низким образованием 25070
lower_education_rich = round(((len(count_low_more_50) * 100) / count_low_edu), 1)
lower_education_rich

17.4

In [21]:
# Identify the most popular occupation for those who earn >50K in India.

In [22]:
df.loc[(df['salary'] == '>50K')]  # всего з/п >50K
more_50_India = more_50.loc[(more_50['native-country'] == 'India')]  # всего в ИНДИИ з/п >50K
more_50_India_most_popular_occup = more_50_India['occupation'].value_counts() # всего в ИНДИИ з/п >50K сортировка
more_50_India_most_popular_occup.index[0]  # всего в ИНДИИ з/п >50K

'Prof-specialty'

In [23]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
all_min_hours_wokers = df.loc[df['hours-per-week'] == 1] # всего работающих 1 час в неделю
len(all_min_hours_wokers)  # 20
who_work_min_hours_week = more_50.loc[more_50['hours-per-week'] == 1] # работающих 1 час/неделю с зп >50K
len(who_work_min_hours_week)  # 2
rich_percentage = (len(who_work_min_hours_week) * 100) / len(all_min_hours_wokers)
rich_percentage  # 10%

10.0

In [24]:
# What country has the highest percentage of people that earn >50K?

highest_earning_country = []
highest_earning_country_percent = []

more_50 = df.loc[(df['salary'] == '>50K')]  # всего з/п >50K

all_country_column = pd.DataFrame(data=more_50['native-country'].unique(), columns = ["native-country"])  
# создаем DF с двумя колонками с уникальными странами (1.индекс, 2.страна)
all_country_one_column = all_country_column.set_index('native-country') # одна колонка (только страна)
#all_country_one_column

#df['native-country'].value_counts()['Hong']  # из всех стран, выбираем по стране общее кол-во чел
#more_50['native-country'].value_counts()['Hong']  # из стран с зп >50K, выбираем по стране кол-во чел с зп >50K

# highest_earning_country_percentage
#highest_earning_country_percentage = ((Iran) all_highest_earning_countres * 100) / df['native-country'].value_counts()
#41.9

In [25]:
for i, row in all_country_one_column.iterrows():
    #print(i)
    percent = ((more_50['native-country'].value_counts()[i] * 100) / df['native-country'].value_counts()[i])
    highest_earning_country_percent.append(round(percent, 1))
    highest_earning_country.append(i)
print(highest_earning_country_percent)
print(highest_earning_country)

[24.6, 40.0, 25.0, 20.0, 7.7, 32.2, 41.9, 5.1, 36.8, 16.7, 39.2, 10.8, 33.3, 26.7, 30.8, 12.3, 32.1, 38.7, 34.2, 2.9, 26.3, 27.6, 6.5, 4.7, 8.5, 41.4, 7.5, 20.0, 10.5, 20.8, 37.5, 3.4, 9.1, 30.0, 14.3, 5.9, 10.5, 23.1, 25.0, 11.1]
['United-States', 'India', '?', 'South', 'Honduras', 'Canada', 'Iran', 'Mexico', 'Cambodia', 'Thailand', 'Taiwan', 'Portugal', 'England', 'China', 'Philippines', 'Jamaica', 'Germany', 'Japan', 'Italy', 'Dominican-Republic', 'Cuba', 'Greece', 'Peru', 'Guatemala', 'El-Salvador', 'France', 'Vietnam', 'Poland', 'Puerto-Rico', 'Ireland', 'Yugoslavia', 'Columbia', 'Haiti', 'Hong', 'Ecuador', 'Nicaragua', 'Trinadad&Tobago', 'Hungary', 'Scotland', 'Laos']

In [26]:
ans_perc = max(highest_earning_country_percent)
ans_index = highest_earning_country_percent.index(ans_perc)
ans_perc
print(highest_earning_country[ans_index])

Iran