In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/nikolas/Desktop/Python/Tasks/Nm_Pd_Plt/adult.data.csv')

In [3]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [4]:
# What is the average age of men?

In [5]:
filter_Male = df['sex'] == 'Male'  # фильтр по Male
df_Male = df.loc[filter_Male]  # df с фильтром
df_Male['age'].count()  # общее кол-во rows по Male
df_Male['age'].sum()  #  сумма всех age по Male
average_age_men = df_Male['age'].sum() / df_Male['age'].count()
float('%.1f' % average_age_men)

39.4

In [6]:
#What is the percentage of people who have a Bachelor's degree?

In [7]:
all_edu_value = df['education'].value_counts()  # общее кол-во по степеням (возьмем кол-во (Bachelors) по индексу [2])
df['education'].count()  # общее число всех степеней
Bachelors_percent = (all_edu_value[2] * 100) / df['education'].count() # процент Bachelors в общем количестве
float('%.1f' % Bachelors_percent)

16.4

In [8]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
df['hours-per-week'].min()

1

In [9]:
# How many of each race are represented in this dataset? 
# This should be a Pandas series with race names as the index labels.

In [10]:
df['race'].value_counts()
all_race = list(df['race'].value_counts())
all_race

[27816, 3124, 1039, 311, 271]

In [11]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

In [13]:
high_edu_Bachelors = df['education'] == 'Bachelors' # фильтр по 'Bachelors'
high_edu_Masters = df['education'] == 'Masters' # фильтр по 'Masters'
high_edu_Doctorate = df['education'] == 'Doctorate' # фильтр по 'Doctorate'
df_Bachelors = df.loc[high_edu_Bachelors]  # df с фильтром по 'Bachelors'
df_Masters = df.loc[high_edu_Masters]  # df с фильтром по 'Masters'
df_Doctorate = df.loc[high_edu_Doctorate]  # df с фильтром по 'Doctorate'
Bachelors_count = df_Bachelors['education'].count()
Masters_count = df_Masters['education'].count()
Doctorate_count = df_Doctorate['education'].count()

In [14]:
count_high_my = Doctorate_count + Masters_count + Bachelors_count  # 7491

In [16]:
count_high = df.loc[((df['education'] == 'Bachelors') | (df['education' ] == 'Masters') | (df['education' ] == 'Doctorate'))]

In [18]:
count_high_rich = count_high['salary'] == '>50K'  # 7491

In [35]:
Bachelors_num = df.loc[(df['education'] == 'Bachelors')]
Masters_num = df.loc[(df['education'] == 'Masters')]
Doctorate_num = df.loc[(df['education'] == 'Doctorate')]

In [36]:
sum_high_edu = Bachelors_num + Masters_num + Doctorate_num  # 7491

In [45]:
more_50 = df.loc[(df['salary'] == '>50K')]  # всего з/п >50K

In [65]:
len(more_50)

7841

In [54]:
count_high = df.loc[((df['education'] == 'Bachelors') | (df['education' ] == 'Masters') | (df['education' ] == 'Doctorate'))]

In [61]:
len(count_high)  # кол-во с Bachelors Masters Doctorate

7491

In [49]:
count_high_more_50 = count_high.loc[(count_high['salary'] == '>50K')]  # кол-во Bachelors Masters Doctorate с з/п >50K

In [60]:
len(count_high_more_50)  # кол-во с Bachelors Masters Doctorate и з/п >50K

3486

In [64]:
round((len(count_high_more_50) * 100) / len(count_high), 1)  # % Bachelors Masters Doctorate с з/п >50K

46.5

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.

In [102]:
df.loc[(df['salary'] == '>50K')]  # всего з/п >50K
more_50_India = more_50.loc[(more_50['native-country'] == 'India')]  # всего в ИНДИИ з/п >50K
more_50_India_most_popular_occup = more_50_India['occupation'].value_counts() # всего в ИНДИИ з/п >50K сортировка
more_50_India_most_popular_occup.index[0]  # всего в ИНДИИ з/п >50K

'Prof-specialty'

In [ ]:
# What country has the highest percentage of people that earn >50K?

In [104]:
more_50 = df.loc[(df['salary'] == '>50K')]  # всего з/п >50K

In [126]:
more_50

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [109]:
all_highest_earning_countres = more_50['native-country'].value_counts()  # все страны с з/п >50K
#highest_earning_country = all_highest_earning_countres.index[0]  # первая в сортировке ('United-States')

In [110]:
all_highest_earning_countres
#highest_earning_country

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [114]:
 # What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [115]:
more_50 = df.loc[(df['salary'] == '>50K')]  # всего з/п >50K

In [131]:
who_work_min_hours_week = more_50.loc[(more_50['hours-per-week'] == 1)]
who_work_min_hours_week

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K