In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/nikolas/Desktop/Python/Tasks/Nm_Pd_Plt/adult.data.csv')

In [3]:
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [6]:
# What is the average age of men?
# по индексам Male из Sex, взять возраст из Age, и высчетать среднее

In [46]:
df['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [47]:
df['sex']

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [48]:
rows = ['Male']

In [51]:
filter_Male = df['sex'] == 'Male'
df.loc[filter_Male]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [54]:
df.loc[filter_Male].row

AttributeError: 'DataFrame' object has no attribute 'row'

In [7]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [8]:
m_or_f = df['sex'].value_counts()

In [9]:
m_or_f[0]

21790

In [10]:
m_or_f[0].sum()

21790

In [12]:
average_age_men = m_or_f[0].sum()

In [28]:
#What is the percentage of people who have a Bachelor's degree?
all_edu_value = df['education'].value_counts()  # общее кол-во по степеням (возьмем кол-во (Bachelors) по индексу [2])

In [23]:
df['education'].count()  # общее число всех степеней

32561

In [26]:
Bachelors_percent = (all_edu_value[2] * 100) / df['education'].count() # процент Bachelors в общем количестве
float('%.1f' % Bachelors_percent)

16.4

In [27]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
df['hours-per-week'].min()

1

In [ ]:
w = df['race'].unique()

In [ ]:
w

In [ ]:
w_list = list(w)

In [ ]:
w_list

In [ ]:
pd.Series('age').count()

In [ ]:
df['age'].count()

In [ ]:
for i in w_list:
    print(pd.Series['i'].count())